# Ignore everything
*

# But not these files...
!docker-compose.yaml
!docker-compose.yml
!env.example
!compose.yaml
!compose.yml
!.env.example
!scripts/*
!README.md

# ...even if they are in subdirectories
!*/